*{
	margin:0;
	padding:0;
	font-family: "微软雅黑";
}
body{
	background: rgb(247,248,248);
}
a{
	text-decoration: none;
	color: black;
}

/*header部分*/
.header{
    width: 100%;
    height: 78px;
    position:relative;
    background: rgb(224,224,224);
}
.header img{
	display: block;
	position: absolute;
	top:20%;
	left:8%;
}
.header .search{
    position: absolute;
    left: 30%;
    top:20%;
}
.header .search input{
	width: 518px;
	height:28px;
	padding-left: 10px;
	background: rgb(224,224,224);
	border:1px solid rgb(0,136,66);
	float: left;
}
.header .search #input2{
	background: rgba(224,224,224,0.6);
}
.header .search button{
	width: 81px;
	height:30px;
	background: rgb(0,136,66);
	margin-left: -81px;
	margin-top:0;
	float: left;
	border: 0;
}
.header .search a{
    text-decoration: none;
    color: rgb(114,114,114);
    font-size: 12px;
    margin-left: 5px;
}
.header .buycar{
	width: 172px;
	height: 42px;
	line-height: 44px;
	background: #fff;
	border:1px solid rgb(0,136,66);
	position: absolute;
	left:80%;
	top:20%;
	font-size: 22px;
	color:#008842;
}
.header .buycar .buycar_bg{
	background: url("../images/login_icon.png") no-repeat -112px 0;
	display: inline-block;
	width: 28px;
	height: 19px;
	margin-top:10px;
	margin-right:10px; 
	margin-left:30%; 
}
.fixtop{
	height: 46px;
	background: rgba(224,224,224,0.8);
	z-index: 100;
	display: none;
}
#resizelogo{
	height: 36px;
	width: 104px;
	top:8%;

}
.resizesearch{
	top: 8%;
}
#buycar2{
	top:8%;
	width: 130px;
	height: 34px;
	left: 85%;
	line-height: 36px;
}
#burcar_bg{
	margin-top:30px;
}

/*轮播图*/
.banner{
    position:relative;
    /*width: 100%;*/
    height: 500px;
    background: #f00;
    overflow: hidden;
}
.banner img{
    /*width: 100%;*/
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin-left:-220px; 
    overflow: hidden;
}
.banner img:nth-child(1){
	z-index: 1;
}
.banner .p{
    position: absolute;
    bottom:3%;
    z-index:999;
    margin-left:42%;
}
.banner .p a{
    display: inline-block;
    background:#fff;
    height:12px;
    width:12px;
    border-radius:100%;
    margin-left:10px;
}
.banner .btn #prev{
	background: url("../images/prev_next.png") no-repeat left top;
	width: 40px;
	height: 100px;
	opacity: 0.5;
	filter:alpha(opacity=50);
	position: absolute;
	left: 0;
	top:200px;
	z-index: 200;
}
.banner .btn #next{
	background: url("../images/prev_next.png") no-repeat -50px top;
	width: 40px;
	height: 100px;
	opacity: 0.5;
	filter:alpha(opacity=50);
	position: absolute;
	right: 0;
	top:200px;
	z-index: 200;
}
.banner .select{
	width: 180px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: white;
	font:none bold 14px "微软雅黑" #fff;
	background: rgb(0,136,66);
	position: absolute;
	top:0;
	left: 8%;
	border:0;
	font-size: 15px;
	font-family: "微软雅黑";
	position: relative;
	z-index: 3;
}
.banner ul{
	position: absolute;
	top:38px;
	left: 8%;
	width: 180px;
	z-index: 3;
}
.banner ul li{
	list-style: none;
	background: #fff;
	line-height: 42px;
	width: 180px;
	height: 42px;
	text-align: center;
	font-size:14px;
	background: rgba(244,251,253,0.8);
}
.banner ul li span:nth-child(1){
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 19px;
	/*margin-left: 4px;*/
	margin-top: -3px;
	margin-left: -30px;
	margin-right:20px; 
}
.banner #icon1{
	background: url("../images/index-icon.png") no-repeat -3px -3px;

}
.banner #icon2{
	background: url("../images/index-icon.png") no-repeat -27px -3px;
}
.banner #icon3{
	background: url("../images/index-icon.png") no-repeat -51px -3px;
}
.banner #icon4{
	background: url("../images/index-icon.png") no-repeat -73px -3px;
}
.banner #icon5{
	background: url("../images/index-icon.png") no-repeat -98px -3px;
}
.banner #icon6{
	background: url("../images/index-icon.png") no-repeat -122px -3px;
}
.banner #icon7{
	background: url("../images/index-icon.png") no-repeat -145px -3px;
}
.banner #icon8{
	background: url("../images/index-icon.png") no-repeat -170px -3px;
}
.banner #icon9{
	background: url("../images/index-icon.png") no-repeat -196px -3px;
}
.banner #icon10{
	background: url("../images/index-icon.png") no-repeat -219px -3px;
}
.banner .secnav{
	position: absolute;
	left: 294px;
	top:0;
	height: 350px;
	width: 180px;
	/*background: #fff;*/
	border:1px solid #bbb;
	z-index: 3;
	background: rgba(244,251,253,0.8);
	padding:30px 50px 100px 20px;
	display: none;
	/*opacity: 0.8;
	filter:alpha(opacity=80);*/
}
/*导航*/

/*内容索引部分四大块*/
.content_index{
    margin-top:20px;
    width:100%;
}
.content_index ul{
    margin-left:8%;
    list-style:none;
    overflow: hidden;
}
.content_index ul li{
    float:left;   /*margin的百分比相对于什么设置，元素的宽高相对于什么设置*/
    height:261px;
    background: #f00;
    margin-right:13px;
    position: relative;
}
.content_index ul li img{
	  /*为什么图片设置290跟原网页不一样*/
}
.content_index ul li p{
	position:absolute;
    left:5%;
    bottom:5%;
    width:90%;
    background:rgba(248,243,239,0.8);
    text-align:center;
    color:#999;
    height:19.6%;
    color:#575757;   /*p设置了定位后，里面的元素为什么会跑掉？*/
}
.content_index ul li p b{
	font-size: 20px;
}
.content_index ul li p i{
	font-style: normal;
	font-size: 14px;
}
/*进口水果部分*/
.foreign_fruit{
	width: 100%;
	height: 463px;
	margin-top:20px; 
	margin-bottom: 20px;
}
.wrap{
	margin-left: 8%;
	position: relative;
	
}
.wrap #title_icon{
	background: url('../images/title_icon.png') no-repeat 0 0;
	width: 45px;
	height: 32px;
	vertical-align: middle;
	margin-left:5px;
	text-align: left;
	display: inline-block;
	line-height: 35px;
	/*background: pink;*/
}
.wrap #title_icon i{
	font:bolder normal 18px "微软雅黑";
	color:#fff;
	margin-left: 5px;
}
#foreign{
	margin-left: 20px;
	color: rgb(253,96,60);
	font:bolder normal 18px "微软雅黑";
}
.wrap #title_icon a{
	color: rgb(253,96,60);
	font:bolder 20px "微软雅黑";
	z-index: 10;
}
.wrap #right_list{
	text-align: right;
	float: right;
	margin-right: 8%;
	line-height: 32px;
}
.wrap #right_list a{
	display: inline-block;
	/*background: #ff0;*/
	border-right: 1px solid #787878;
	width: 80px;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	color: #787878;

}
.wrap #right_list a:nth-child(3){
	border-right: 0;
}
.left{
	float: left;
	height: 462px;
}
.right{
	float: left;
	margin-top: -3px;
}
.right img{
	border: 1px solid #d5d5d5;
	border-left:0; 
}
.up{
	margin-top:2px; 
}
.up img:nth-child(1),.down img:nth-child(1){
	border-left:1px solid #d5d5d5;
} 
.down{
	margin-top:-5px; 
}
/*.right .up{
	float: left;
}
*/
/*网站服务特色*/
.service{
	background: rgb(224,224,224);
	margin-top: 52px;
	width: 100%;
	height: 72px;
	padding-top: 30px;
	/*background: blue;*/
}
.service ul{
	height: 42px;
	margin-left: 8%;
}
.service ul li{
	list-style: none;
	float: left;
	height: 42px;
	margin-left: 100px;
}

.service ul li span{
	width: 42px;
	height: 42px;
	display: inline-block;
	border-right: 1px solid rgb(168,168,168);
	padding-right: 10px;
	float: left;
}
.service ul li p{
	float: left;
	margin-left: 10px;
}
.service ul li b{
	font-size: 16px;
	color: rgb(0,127,77);
}
.service ul li i{
	font:normal normal 12px "微软雅黑";
	color: rgb(68,68,68);
}
.service ul li:nth-child(1) span{
	background: url("../images/service.png") no-repeat 0 0;
}
.service ul li:nth-child(2) span{
	background: url("../images/service.png") no-repeat 0 -44px;
	height: 41px;
}
.service ul li:nth-child(3) span{
	background: url("../images/service.png") no-repeat 0 -85px;
}
.service ul li:nth-child(4) span{
	background: url("../images/service.png") no-repeat 0 -129px;
}


