*{
	margin: 0;
	padding:0;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
	color: black;
}
body{
	background:rgb(247,248,248); ;
}
/*头部*/
.header{
    width: 100%;
    height: 70px;
    position:relative;
    background: rgb(224,224,224);
}
.header img{
	display: block;
	position: absolute;
	top:20%;
	left:8%;
	cursor: pointer;
}
.header b{
	color: rgb(0,136,66);
	font:normal normal 28px "微软雅黑";
	position: absolute;
	left: 25%;
	top:26%;
}
/*登录部分*/
.login_content{
	background: #fff;
	width: 100%;
	padding-top: 50px;
}
#login{
	
	margin-left: 8%;
	overflow: hidden;
	zoom:1;
	/*height: 444px;*/
	width:1200px;
	margin-bottom: 20px;
}
#login .img{
	float: left;
}
#login form{
	width: 290px;
	height: 392px;
	padding:20px 30px;
	border:1px solid #e3e6e0;
	float: left;
	margin-left:100px; 
}
form .welcome{
	font-size: 24px;
}
form .index_register{
	text-align: right;
	margin-left: 50px;
	font-size: 14px;
}
form .index_register a{
	color: #008842;
}
form input{
	height: 36px;
	width: 235px;
	/*margin-top:20px;*/
	border:1px solid #c1c1c1; 
}
form #usr{
	background: url("../images/user.png") no-repeat 0 -120px;
	padding-left: 50px;
	margin-top:20px; 
}
form #pwd,#code{
	background: url("../images/user.png") no-repeat 0 -180px;
	padding-left: 50px;
}
form input#code{
	width: 140px;
}
form #self{
	height: 15px;
	width: 15px;
	vertical-align: middle;
	line-height: 15px;
	margin-top:0px; 
}
form p{
	font-size: 14px;
	color: #878787;
	margin:20px auto; 

}
form p a{
	text-decoration: none;
	color: #878787;
}
form .forget{
	margin-left: 127px;
}
form button{
	width: 290px;
	height: 50px;
	background: #008842;
	border:0;
	margin-bottom: 15px;
	color: #fff;
	font-size: 20px;
	line-height: 50px;
}
form .other{
	font-size: 14px;
	color: #878787;
	display: inline-block;
	margin-bottom: 15px;
	text-decoration: none;
}
/*.icons{
	margin-bottom: 10px;
}*/
.icons #qq{
	background: url("../images/bg_login.png") no-repeat -60px -200px;
	width: 88px;
	height: 20px;
	margin-right:22px; 
	display: inline-block;
}
.icons #weibo{
	background: url("../images/bg_login.png") no-repeat -160px -200px;
	width: 88px;
	height: 20px;
	margin-right:22px; 
	display: inline-block;
}
.icons #elife{
	background: url("../images/bg_login.png") no-repeat -260px -200px;
	width: 57px;
	height: 21px;
	display: inline-block;
}
.usrerror,.pwderror,.codeerror{
	width: 287px;
	height: 20px;
	/*background: #f00;*/
	text-align: center;
	font: 10px "微软雅黑";
	line-height: 20px;
}


.footer{
	border-top:1px solid rgb(224,224,224); 
	padding-top: 70px;
}
#btn{
	cursor: pointer;
}