*{
	margin: 0;
	padding:0;
	font-family: "微软雅黑";
}
body{
	color: #444;
	background: rgb(247,248,248);
}
a{
	text-decoration: none;
	color: black;
}
.header{
    width: 100%;
    height: 70px;
    position:relative;
    background: rgb(224,224,224);
}
.header img{
	display: block;
	position: absolute;
	top:20%;
	left:8%;
	cursor: pointer;
}
.header b{
	color: rgb(0,136,66);
	font:normal normal 28px "微软雅黑";
	position: absolute;
	left: 25%;
	top:26%;
}

/*注册部分*/
.register{
	width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
}
.register p{
	text-align: right;
	margin-right: 75px;
	/*width: 100%;*/
	font-size: 14px;
	margin-bottom: 10px;
}
.register p a{
	color: orange;
	font-weight: bold;
}
.content{
	border:1px solid #e3e6e0;
	width: 1200px;
	height: 600px;
	background: #fff;
}
.content form{
	margin-left: 150px;
	margin-top: 30px;
	float: left;
	/*background: #0f0;*/
}
.imgcode{
	float: left;
	/*margin-right:80px; */
	margin-top:7px; 
}
form div{
	margin-top:30px;
	/*background: #f00;*/
}
.content form div .location{
	text-align: right;
	display: inline-block;
	width: 100px;
}
.content form input{
	height: 38px;
	width: 306px;
	border:1px solid #c1c1c1; 
	padding-left: 10px;
	margin-left: 20px;
	color: 12px;
}
.content .first img{
	margin-left:20px;
	margin-top: 10px;
}
#code{
	width: 163px;
}
#phone{
	background: url("../images/user.png") no-repeat 290px -29px;
}
#phonecode,#setpwd,#truepwd{
	background: url("../images/user.png") no-repeat 290px -70px;
	/*background-position: right;*/
}
form p{
	font-size: 14px;
	color: #878787;
	margin:20px auto; 

}
form #self{
	height: 15px;
	width: 15px;
	vertical-align: middle;
	line-height: 15px;
	margin-top:0; 
}
form button{
	width: 306px;
	height: 50px;
	background: #008842;
	border:0;
	margin-top: 15px;
	color: #fff;
	font-size: 20px;
	line-height: 50px;
	float: right;
	margin-right:75px; 
}
.content #right{
	/*background: #0f0;*/
	width: 43%;
	height:634px;
	float: left;
	/*position: relative;*/
	/*background: #f00;*/
}
.content #right img{
	position: absolute;
	top:285px;
	/*bottom:0;
	left: 60px;*/
	left: 888px;
}
.warn span{
	background: url("../images/bg_login.png") no-repeat -40px -200px;
	width: 17px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
}
.success{
	background: url("../images/bg_login.png") no-repeat 0 -200px;
	width: 17px;
	height: 17px;
	/*display: none;*/
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
.success1,.success2,.success3,.success4,.success5,.success6{
	display: none;
}
#btn{
	cursor: pointer;
}
.warn1,.warn2,.warn3,.warn4,.warn5,.warn6{
	display: none;
	margin-left: 10px;
}
.footer{
	border-top:1px solid rgb(224,224,224); 
	padding-top: 70px;
}